:root {
    --lightest-blue: hsl(180, 100%, 95%);
    --light-blue: #CCFFFF;
    --dark-blue: hsl(180, 65%, 15%);
    --star: #CCFF66;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

html{
 width: 99vw;
 height: 100%;



}

body {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-family: sans-serif;
    background-color: var(--lightest-blue);
    color: var(--dark-blue);
    width: 99vw;
    height: inherit;

   
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 80vh;




}


main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main form input {
    padding: 0;
}

h1 {
    margin: 0;
}

h3 {
    padding: 0;
    margin: 0;
}




main section div>* {
    margin: 0;
}

main section {
    border: 1px solid var(--dark-blue);
    background-color: var(--light-blue);

    width: 85vw;
    margin: 1rem;
    padding: 1rem;
    
  
}




main section .bookmark{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

main section .bookmark-full{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main section div .row{
    display: flex;
    flex-direction: center;
    align-items: center;
}

main section form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 70vh;
}

main section form div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

main section form .row{
    display: flex;
    flex-direction: row;
    width: inherit;


}

main form input {
    margin: 1rem;
    background-color: hsl(90, 95%, 95%);
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    align-self: flex-end;
}



main form .form-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header div ul {
    list-style: none;


}




header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 4%;
    width: 100vw;
    height: 15vh;
    flex-wrap: nowrap;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 4%;


}

header .drop-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    


}

header .drop-down .dropdown {
    z-index: 1;
    border: 1px solid var(--dark-blue);
    background-color: var(--light-blue);

    position: absolute;
    top: 50px;
    width: 85px;

}


.button {
    width: 85px;
    height: 40px;
    border: 1px solid var(--dark-blue);
    background-color: var(--dark-blue);
    color: var(--lightest-blue);
    outline: none;
    text-align: center;
    font-weight: bold;
    align-self: center;
    margin: 2%;

}

.submit{
    color: var(--star)
}



main button:active {
    border: none;
    outline: none;
}

main form input{
    width: 60vw;
    align-self: flex-end;
    height: 3vh;
}
.rating{
    position: relative;
}

.rating>.fill:before {
    content: "\2605";
    position: absolute;
    color: var(--star);
}


.rating>.empty:before {
    content: "\2605";
    position: absolute;
    color: var(--lightest-blue);
    z-index: -1;
}

.rating>.fill {
    color: var(--star);
    position: relative;
}

.desc-input {
    width: 80vw;
    height: 35vw;


}

.bookmark{
    align-items: center;
    justify-content: center;
}










/*MEDIA QUERIES*/
@media all and (min-width: 600px){

    html{
        width: 100vw;
    }

    main .bookmark-section {
        width: 90vw;
        
    }

    header{
        flex-direction: row;
    }

}