*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(180, 100%, 95%);
    color: hsl(180, 65%, 15%);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


main form{
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main form input{
    padding: 1rem;
}

h1{
    margin-top: 6%;
}

main .bookmark-section{
    width: 86vw;
    height: 100%;
}

main section div > *{
    margin: 5px 3px;
}

main section{
    border: 1px solid hsl(180, 65%, 15%);
    margin: 1em;
    background-color: #CCFFFF;
}



main section .collapsed{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main section .bookmark-full{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;
}

main form input{
    margin: 1rem;
    background-color: hsl(90, 95%, 95%);
    color: hsl(180, 65%, 15%);
    border: 1px solid hsl(180, 65%, 15%);
}

main form .form-item{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header div ul{
    list-style: none;
   

}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 60vw;
    flex-wrap: nowrap;
}
header div{
    display: flex; 
    flex-direction: row;
    width: inherit;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}
header .drop-down{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    margin: 0;
}

header .drop-down .dropdown{
    z-index: 1;
    border: 1px solid hsl(90, 80%, 20%);
    width: 85px;
    padding: 2px;
    margin: 0;
    background-color: #CCFFFF

}

 button{
    margin: 1rem 2rem 0.3rem;
    width: 85px;
    height: 40px;
    padding: 0;
    border: 1px solid 	hsl(90, 80%, 20%);
    background-color: #CCFF99;
    color: #c51162;
    outline: none;
    text-align: center;
    font-weight: bold;
    margin-top: 4vh;
    align-self: center;
    
}

main button:active{
    border: none;
    outline: none;
}

button:focus{
    outline-offset: -4px;
}

 .rating > .fill:before {
    content: "\2605";
    position: absolute;
    color: #CCFF66;
 }


 .rating > .fill{
     color: #CCFF66;
 }

 #description{
     width: 50vw;
     height: 30vh;
     text-emphasis: wrap;
 }